.Header {
  display: flex;
  align-items: center;
}

.Header__info {
  display: flex;
  flex-grow: 1;
  font-size: 2rem;
  padding: 1rem;
  align-items: center;

  .material-icons {
    font-size: 2rem !important;
  }
}

.Header__date {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.Header__today {
  padding-left: 0.5rem;
}

.Header__navbar {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}

.Header__link {
  margin-left: 1rem;

  &--nav {
    &:last-child {
      margin-left: 0.5rem;
    }
  }
}

.Header__routerLink {
  display: inline-block;
}
